        <!-- Tabla -->
        <table>
          <tr>
              <th>Termino</th>
              <th>Aceptabilidad</th>
              <th>Tipo</th>
              <th>Destino</th>
              <th>Grupo</th>
              <th>Caracteristica</th>
          </tr>
          <tr>
              <td>F Fiebre (Hallazgo)</td>   
              <td>Preferido</td>   
              <td>Es un atributo</td>   
              <td>Temperatura corporal por encima del rango de referencia (Hallazgo)</td>   
              <td>0</td>   
              <td>Definida</td>   
          </tr>
          <tr>
              <td>S Fiebre 1736</td>   
              <td>Preferido</td>   
              <td></td>   
              <td></td>   
              <td></td>   
              <td></td>   
          </tr>
          <tr>
              <td>S Pirexia</td>   
              <td>Aceptable</td>   
              <td></td>   
              <td></td>   
              <td></td>   
              <td></td>      
          </tr>
      </table>