<ul>
    <li *ngFor="let concepto of conceptos$ | async" [routerLink]="[concepto.id]">
      <section class="contenedor-icono-texto">
          <span class="icon icon-{{ concepto.semantic }} border {{concepto.color}}"></span>
          <div>
            <h4>{{ concepto.nombre }}</h4>
            <small>{{ concepto.id }}</small>
          </div>
        </section>
        <section class="contenedor-badge">
          <span class="badge">{{ concepto.totales }}</span>
          <span class="badge">{{ concepto.exactos }}</span>
        </section>
    </li>
  </ul>
