<section class="contenedor-principal">
    <section id="header">
    <!-- Cabezal -->
         <app-header>

        </app-header>
    </section>
    <section id="main" >
        <!-- Datos principales -->
        <app-display>
            
        </app-display>
        
        <!-- Tabla -->
        <app-tabla>
            
        </app-tabla>

        <!-- Acordion Diagrama -->
        <app-acordion>

        </app-acordion>
    </section>
    
    <!-- app-aside -->
    <section id="aside">
        <app-aside>
            
        </app-aside>
    </section>
</section>
