.parent-card {
    max-height: 300px;
    overflow: auto;
    margin-left: 0%;
    margin-bottom: 10px;
    margin-top: 10px;
    // width: 80%;
    border: 2px solid #357ebd;
    border-radius: 4px;
    padding: 5px;

    ul {
        list-style-type: none;
        padding-inline-start: 0;
    }

    .btn-link {
        font-size: 1.5rem;
        padding: 0;
    }
}
