<table class="table table-bordered">
    <thead>
        <tr>
            <th> Tipo </th>
            <th> Destino </th>
            <th> Grupo </th>
            <th> Característica </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rel of relationships">
            <td>
                <span class="badge alert-warning" style="padding: 3px 7px;border-radius: 10px;">
                    &nbsp;&nbsp;
                </span>
                &nbsp;&nbsp;
                {{ rel.type.preferredTerm }}
            </td>
            <td> 
                <span class="badge alert-warning" style="padding: 3px 7px;border-radius: 10px;">
                    {{ rel.destination.definitionStatus.conceptId === '900000000000073002' ? '≡' : '&nbsp;&nbsp;' }}
                </span>
                &nbsp;&nbsp;
                {{ rel.destination.preferredTerm }}
            </td>
            <td>
                {{ rel.relationshipGroup }}
            </td>
            <td>
                {{ rel.characteristicType.conceptId === '900000000000010007' ? 'Definida' : 'Inferida' }}
            </td>
        </tr>
    </tbody>
</table>