.fsn-card {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
    display: inline-block;
    border: 2px solid rgb(53, 126, 189);
    border-radius: 4px;
    padding: 5px;
}


.fsn-card.green {
    background-color: rgba(8, 131, 28, 0.849);
    border: 2px solid rgba(66, 202, 89, 0.849);


}