@import '../../scss/variables';

section.acordion-wrapper {
    
    div.acordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px gray;
        width: 100%;
        margin-bottom: 1rem; 

            h5 {
                color: $andes-azul;
                text-align: right;
                text-transform: uppercase;
            }

            .btn {
                display: flex;
                align-content: center;
                font-size: 0.75rem;

                &.sm {
                    height: 0.5rem;
                    width: 0.5rem;
                }
            }
    }
}

