  <section class="contenedor-buscador">
    <div class="input-buscador">
      <input type="text">
      <button class="success" (click)="buscarConceptos()">Buscar</button>
    </div>
    <button class="info" (click)="mostrarBusquedaAvanzada()">Avanzada</button>
  </section>

  <!-- Busqueda avanzada -->
  <section class="contenedor-buscador" *ngIf="busquedaAvanzada">
    <select name="" placeholder="Modo de busqueda" id="">
      <option value="">Termino exacto</option>
      <option value="">Expresiones regulares</option>
      <option value="">Empieza con...</option>
    </select>
    <select name="" placeholder="Seleccione estado" id="">
      <option value="">Activo</option>
      <option value="">Inactivo</option>
    </select>
  </section>