section.template-exploracion {
    display: grid;
    grid-template-areas:
    "nv nv nv nv nv nv"
    "side fil fil fil fil fil"
    "side main main main main main";
    grid-template-rows: auto auto 1fr;

    app-navbar {
        grid-area: nv;
        display: flex;
        flex-direction: row;
    }
    
    app-filtros {
        grid-area: fil;
        background-color: lightgrey;
        padding: $padding-contenedor;
        display: flex;
        align-items: center;
    }
    
    app-main {
        grid-area: main;
    }
    
    app-sidebar {
        grid-area: side;
        
        // Styling
        height: 100%;
        background-color: white;
    }
}


// Browser Responsive

@media screen and (max-width: 780px) {
    
    section#template-exploracion {

        app-main {
            width: 100vw;
            
            // Styling
            height: 100%;
    
        }

        app-sidebar {
            width: 100vw;
            background-color: white;
            
            // Styling
            height: 100%;
    
        }
    }
}