section.template-exploracion {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 50px 1fr;

    app-navbar {
        grid-column: 1 / -1;
        grid-row: 1;
        display: flex;
        flex-direction: row;
    }
    
    app-filtros {
        grid-column: 2 / -1;
        grid-row: 2;
        //Styling 
        background-color: lightgrey;
        padding: $padding-contenedor;
        display: flex;
        align-items: center;
    }
    
    app-main {
        grid-column: 2 / -1;
        grid-row: 3;
    }
    
    app-sidebar {
        grid-column: 1 / 2;
        grid-row: 2;        
        // Styling
        height: 100%;
        background-color: white;
    }
}

// Browser Responsive
@media screen and (max-width: 768px) {
    
    section.template-exploracion {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto auto 1fr;
        
        app-navbar {
            grid-column: 1 / -1;
            grid-row: 1;
            display: flex;
            flex-direction: row;
        }

        app-filtros {
            grid-column: 1 / -1;
            grid-row: 2;
        }

        app-main {
            grid-column: 1 / -1;
        }
        
        app-sidebar {
            grid-column: 1 / -1;
            grid-row: 2;
            background-color: white;
            z-index: 2;
        }
    }
    }

    section.template-exploracion.full {
        grid-template-rows: auto 50px 1fr;

        app-filtros {
            grid-column: 1 / -1;
            grid-row: 2;
        }
        
        app-main {
            display: block;
            grid-column: 1 / -1;
            grid-row: 3;
            background-color: white;
            z-index: 1;
        }
        
        app-sidebar {
            transform: translate(-100%);
            transition: transform 50ms ease-in;
        }
    }