// VARIABLES

// Cromaticas
$andes-azul-oscuro: #062837;
$andes-azul: #0070cc;
$andes-azul-claro: #009dc9; 
$andes-celeste: #66DFFF; 
$andes-purpura: #662482;
$andes-violeta: #982f98;
$andes-magenta: #EA1E79;
$andes-aquamarine: #00bcb4;
$andes-verde: #8bc43f;
$andes-bordo: #9e005d;
$andes-marron: #a67c52;
$andes-naranja-oscuro: #ff4a1a;
$andes-naranja: #f4a03b;



// Espaciales
$padding-contenedor: 0.75rem;
$height-inputs: 25px;
$radius-inputs: 15px;
