@import '../../../scss/_variables';

.contenedor-datos-principales {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    // Styling
    padding: 2rem;
    height: 200px;
    width: 500px;
    
    hr {
        height: 100%;
    }

    .bloque-numerico-principal {
        align-self: center;
        
        h1 {
            margin: 0;
            font-size: 5rem;
            color: $andes-azul;
        }
        
        h3 {
            font-size: 2rem;
            margin: 0;
            color: gray;
        }
    }
    
    .bloque-numerico-secundario {
        align-self: center;
        display: flex;
        flex-direction: column;
        
        h2 {
            font-size: 2rem;
            margin: 0;
        }
        
        h4 {
            margin-top: 0;
            
        }
    }
}

    .texto-secundario {
        color: gray;
        text-align: center;
        border-top: solid 1px gray;
        width: 100%;
    }

    // Responsive
    @media screen and (max-width: 768px) {

    .contenedor-datos-principales {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        }
}