    <section *ngIf="conceptos$ | async as concepto">
        <div class="contenedor-datos-principales">
        <div class="bloque-numerico-principal">
            <h1>{{ concepto.totales }}</h1>
            <h3>Totales</h3>
        </div>
        <hr class="h-100">
        <div class="bloque-numerico-secundario">
            <article>
                <h2>{{ concepto.exactos }}</h2>
                <h4>Exactos</h4>            
            </article>
            <article>
                <h2>{{ concepto.descendientes }}</h2>
                <h4>Descendientes</h4>            
            </article>
        </div>
        </div>

        <!-- Texto de referencia -->
        <div class="texto-secundario">
            <p>Conjunto de referencias de lenguaje para la extensión provincial de Neuquén (foundation metadata concept)</p>
        </div>
    </section>