<div class="contenedor-datos-principales">
  <div class="bloque-numerico-principal">
      <h1>1,517</h1>
      <h3>Totales</h3>
  </div>
  <hr class="h-100">
  <div class="bloque-numerico-secundario">
      <h2>745</h2>
      <h4>Exactos</h4>            
      <h2>865</h2>
      <h4>Descendientes</h4>            
  </div>
</div>

<!-- Texto de referencia -->
<div class="texto-secundario">
    <p>Conjunto de referencias de lenguaje para la extensión provincial de Neuquén (foundation metadata concept)</p>
</div>
  