<nav class="navbar navbar-default navbar-static-top" style="height: 42px;">
    <div class="navbar-brand">
        SNOMED CT BROWSER
    </div>
    <app-time-filter></app-time-filter>
</nav>
<div class="container-fluid" style="height: calc(100% - 42px);">
    <as-split direction="horizontal">
        <as-split-area size="640">
            <ngb-tabset>
                <ngb-tab title="Busqueda">
                    <ng-template ngbTabContent>
                        <app-nav-busqueda></app-nav-busqueda>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Jerarquía">
                    <ng-template ngbTabContent>
                        <app-taxonomy-nav></app-taxonomy-nav>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Favoritos">
                    <ng-template ngbTabContent>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Conjunto de Referencia">
                    <ng-template ngbTabContent>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </as-split-area>
        <as-split-area size="60">
            <ngb-tabset>
                <ngb-tab title="Detalle del concepto">
                    <ng-template ngbTabContent>
                        <app-concept-detail></app-concept-detail>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </as-split-area>
    </as-split>
</div>