@import '../../scss/variables';

.contenedor-filtros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
}

@media screen and (max-width: 768px) {
    .contenedor-filtros {
        flex-direction: column;
    }
}