@import '../../scss/variables';

.contenedor-filtros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    button.desktopHidden {
        display: none;
    }
    
}

@media screen and (max-width: 768px) {
    .contenedor-filtros {
        flex-direction: column;
        
        input.universal {
            display: block;
        }

        div > * {
            display: none;
        }
    }
}