<section class="contenedor-filtros">
    <div>
        <input list="organizaciones" placeholder="Seleccione organizacion">
        <datalist id="organizaciones">
            <option *ngFor="let organizacion of snomedService.organizaciones">{{ organizacion.nombre }}</option>
        </datalist>
    </div>
    <div>  
        <input list="profesionales" placeholder="Seleccione profesional">
        <datalist id="profesionales">
            <option *ngFor="let profesional of snomedService.profesionales">{{ profesional.nombre }} {{ profesional.apellido }}</option>
        </datalist>
    </div>
    <div>     
        <input list="prestaciones" placeholder="Seleccione prestaciones">
        <datalist id="prestaciones">
            <option *ngFor="let prestacion of snomedService.prestaciones">{{ prestacion.nombre }}</option>
        </datalist>
    </div>

    <div class="contenedor-datepicker">
        <input type="date" name="desde">
        <button class="info icon icon-calendario" type="submit"></button>
    </div>
    <div class="contenedor-datepicker">
        <input type="date" name="hasta">
        <button class="info icon icon-calendario" type="submit"></button>
    </div>
    <input type="range" id="a" name="a" value="50">
    <button type="button" class="info icon icon-camara-foto"></button>
</section>
