<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-brand">
        SNOMED CT BROWSER
    </div>
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" placeholder="Desde" name="dp" [(ngModel)]="Desde" ngbDatepicker #dd="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="dd.toggle()" type="button"></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" placeholder="Hasta" name="dph" [(ngModel)]="hasta" ngbDatepicker #dh="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="dh.toggle()" type="button">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
            </div>
        </div>
    </form> 
</nav>
<div class="container-fluid">
    <div style="height: 100%;">
        <as-split direction="horizontal">
            <as-split-area size="640">
                <ngb-tabset>
                    <ngb-tab title="Busqueda">
                        <ng-template ngbTabContent>
                            <app-nav-busqueda></app-nav-busqueda>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Jerarquía">
                        <ng-template ngbTabContent>
                            <app-taxonomy-nav></app-taxonomy-nav>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Favoritos">
                        <ng-template ngbTabContent>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Conjunto de Referencia">
                        <ng-template ngbTabContent>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </as-split-area>
            <as-split-area size="60">
                <ngb-tabset>
                    <ngb-tab title="Detalle del concepto">
                        <ng-template ngbTabContent>
                            <app-concept-detail></app-concept-detail>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </as-split-area>
        </as-split>
    </div>
</div>
<router-outlet></router-outlet>