<form class="form-inline">
    <div class="form-group pr-2">
        <ng-template #rt let-r="result" let-t="term">
            <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
        </ng-template>
        <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed"
               [ngbTypeahead]="search" placeholder="Organizaciones" [resultTemplate]="rt" [inputFormatter]="formatter"
               (selectItem)="onOrgSelect($event)" />
    </div>
    <div class="form-group pr-2">
        <div class="input-group">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dd.toggle()" type="button">
                    <i class="mdi mdi-calendar"></i>
                </button>
                <input class="form-control" placeholder="Desde" name="dp" [(ngModel)]="desde" ngbDatepicker
                       #dd="ngbDatepicker" (dateSelect)="onStartDate($event)">
            </div>
        </div>
    </div>
    <div class="form-group pr-2">
        <div class="input-group">
            <input class="form-control" placeholder="Hasta" name="dph" [(ngModel)]="hasta" ngbDatepicker
                   #dh="ngbDatepicker" (dateSelect)="onEndDate($event)">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="dh.toggle()" type="button">
                    <i class="mdi mdi-calendar"></i>
                </button>
            </div>
        </div>
    </div>
    <div ngbDropdown>
        <button ngbDropdownToggle class="btn btn-block dropdown-toggle" type="button">
            {{ qf.relationship$ | async }}
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button ngbDropdownItem (click)="setRelationshipMode('stated')">
                Stated Relationship
            </button>
            <button ngbDropdownItem (click)="setRelationshipMode('inferred')">
                Inferred Relationship
            </button>
        </div>
    </div>
</form>