<div class="card card-default">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <strong>Estadisticas de {{ title }}</strong>
            </div>
        </div>
    </div>
    <ngb-tabset>
        <ngb-tab title="Pacientes">
            <ng-template ngbTabContent>
                <app-demografia-nav [data]="rangoEtarioTable" (rangoChange)="refresh($event)"
                                    [localidades]="localidadesTable"></app-demografia-nav>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Prestaciones">
            <ng-template ngbTabContent>
                <h5> Prestaciones </h5>
                <app-table-set [values]="prestacionesTable"></app-table-set>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Profesionales">
            <ng-template ngbTabContent>
                <h5> Profesionales </h5>
                <app-table-set [values]="profesionalesTable"></app-table-set>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Organizaciones">
            <ng-template ngbTabContent>
                <h5> Organizaciones </h5>
                <app-table-set [values]="organizacionesTable"></app-table-set>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Conceptos asociados">
            <ng-template ngbTabContent>
                <div class="d-flex justify-content-between">
                    <h5>
                        Conceptos en común con {{ title }}
                    </h5>
                    <div ngbDropdown>
                        <button ngbDropdownToggle class="btn btn-info dropdown-toggle" type="button">
                            {{ semanticCluster$ | async }}
                        </button>
                        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button ngbDropdownItem (click)="semanticCluster.next('trastorno')">
                                Trastorno
                            </button>
                            <button ngbDropdownItem (click)="semanticCluster.next('hallazgo')">
                                Hallazgo
                            </button>
                            <button ngbDropdownItem (click)="semanticCluster.next('procedimiento')">
                                Procedimiento
                            </button>
                            <button ngbDropdownItem (click)="semanticCluster.next('producto')">
                                Producto
                            </button>
                        </div>
                    </div>
                </div>
                <app-table-set [values]="clusterTable"></app-table-set>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Mapa de calor">
            <ng-template ngbTabContent>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapReady)="onMap($event)"></agm-map>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>