@import '../../scss/variables';

 /* header */
  .header {
    background-color: $andes-azul-oscuro;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 0 1rem;
    width: calc(100vw - 50px);
    z-index: 3;
    
    .navbar-logo {
        display: inline-flex;
        color: white;
        font-size: 2rem;
        padding: 12px;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
        
        li a {
            display: block;
            padding: 0.5rem;
            text-align: right;
            text-decoration: none;
            font-size: 0.75rem;
            background-color: $andes-azul-oscuro;
            text-transform: uppercase;
            color: white;
        
        &:hover {
            background-color: $andes-azul;
            }
        }

        button {
          float: right;
        }
    }
  
    .menu-btn:hover {
      background-color: #f4f4f4;
    }
    
    .menu {
        margin-top: 10px;
        background: none;
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
  
    .menu-icon {
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
  
      .navicon {
        background: white;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
  
        &:before, &:after {
          background: #dddddd;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
        }
  
        &:before {
          top: 5px;
        }
  
        &:after {
          top: -5px;
        }
      }
    }
  
    .menu-btn {
      display: none;
  
      &:checked ~ {
        .menu {
          max-height: 240px;
        }
  
        .menu-icon {
          .navicon {
            background: transparent;
  
            &:before {
              transform: rotate(-45deg);
            }
  
            &:after {
              transform: rotate(45deg);
            }
          }
  
          &:not(.steps) .navicon {
            &:before, &:after {
              top: 0;
            }
          }
        }
      }
    }
  }
  
  /* menu */  
  @media (min-width: 48em) {
    .header {
      li {
        float: left;
  
        a {
          padding: 20px 30px;
        }
      }
  
      .menu {
        clear: none;
        float: right;
        max-height: none;
      }
  
      .menu-icon {
        display: none;
      }

    }
  }